p {
  font-family: Lato;
}


td {
  background: lightyellow;
  padding: 8px;
}

th{
  background: brown;
  color: white;
  padding: 10px;
  font-weight: bolder;
}

input {
  height: 40px;
  width: 300px;
  font-size: 15px;
  text-align: left;
  color:blueviolet;
}
