<app-top-bar></app-top-bar>
<h2 align = 'left'>{{author}}</h2>

<input type = "text" #newTodo />
<button (click)="addTodo(newTodo.value); newTodo.value=''">Add</button>

<table>
  <tr>
    <th>Item</th>
    <th>Priority</th>
    <th>Done</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let todo of todos">
    <td contenteditable="true">{{todo.item}}</td>
    <td contenteditable="true">{{todo.priority}}</td>
    <!-- <td type = "checkbox">{{todo.done}}</td> -->
    <td>
      <label style="display:block;">
        <input name="select[]" type="checkbox">
      </label>
    </td>
    <td>
      <button (click)="deleteTodo(todo)">Delete</button>
    </td>
  </tr>
</table>